/**
 * demo-site.scss
 *
 * Sets of variables that are expanded to provide a custom theme
 */


// Google Material Themes

/*
$brand-primary: #3F51B5;
$brand-secondary: #FF4081;
$body-bg: #fafafa;
$brand-gray: #737373;
$text-color: #333333;
$footer-height: 61px;
$footer-bg: #333;
$navbar-height: 50px;
*/

// LA City Themes


$brand-primary: #0f2940; // denotes navbar bg, among other things
$brand-secondary: #f08048; //communicate as $link-color
$body-bg: #0f2940; //page bg
$text-color: #fff;
$brand-gray: #f0f0f0;
$footer-height: 68px;
$footer-bg: #333;
$navbar-height: 50px;



// City of Charlotte Themes

/*
$brand-primary: #006A4D;
$brand-secondary: #007AC2;
$body-bg: #f0f0f0;
$text-color: #222;
$brand-gray: #BDBDBD;
$footer-height: 62px;
$footer-bg: #414042;
$navbar-height: 50px;
*/
