<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Pages-as-Items Application</h2>
      <p class="lead">What this is...</p>
      <p>This is a demo application that works with Pages, persisted as Items in ArcGIS Online.
        It utilizes the same set of Ember Components as the Open Data Layout and Page editors, the
      only difference is taht instead of using EmberData and connecting to the
      <a href="http://opendata.arcgis.com/api/v2" target="_blank">Open Data JSONAPI</a>, it uses the
    <a href="">ArcGIS Online Search</a> and <a href="">Items</a> APIs.</p>
    </div>
    <div class="col-sm-6">
      <h2>Accessing the Application</h2>
      <p class="lead">TLDR: Esri Employees Only</p>
      <p>This application uses the ArcGIS Online QA environment, thus only Esri employees with
      those credentials can login.</p>
      <p>Once logged in, you will have a link to "My Pages" in the top nav bar. That will search items you own
      for <strong>Web Map Applications</strong>, with the tag <strong>odpage</strong>.</p>
    </div>
  </div>
</div>
{{outlet}}
