#range-container {
  overflow: hidden;
  height:auto;
  
}
.slider-values-container {
  overflow: hidden;
  .slider-values {
    font-size:0.75em;
  }
  .slider-value {
    font-weight: 600;
  }
}

#mundi-filter-slider {
  width:90%;
  margin:auto;
}

.page-mundi {
  .ui-slider-horizontal {
    height: .4em;
  }
  .ui-slider .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
  }
}