<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Select a Page Template to start from...</h2>
    </div>
    {{#each model.results as |tmpl|}}
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{tmpl.title}}</div>
        <div class="panel-body">
          {{item-thumbnail model=tmpl}}
        </div>
        <div class="panel-footer">
          <button class="btn btn-sm btn-default btn-block" type="button" {{action 'selectTemplate' tmpl.id}}>Select</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
